<ng-container *ngIf="(orga$ | async) === null">
  <app-spinner></app-spinner>
</ng-container>
<ng-container *ngIf="orga$ | async as orga">
  <app-profile-layout>
    <div id="about-us" breadcrumbs>
      <app-breadcrumbs>
        <app-breadcrumb
          [route]="['/']"
          [name]="'menu.search' | translate"
        ></app-breadcrumb>
        <app-breadcrumb [isLast]="true" [name]="orga?.name"></app-breadcrumb>
      </app-breadcrumbs>
    </div>
    <div hero>
      <app-hero
        [logo]="orga.logo"
        [types]="{
          resultType: 'ORGANISATION'
        }"
        [bgImageName]="orga.image"
        [name]="orga.name"
      ></app-hero>
    </div>
    <div nav>
      <app-page-menu>
        <a
          *appMenuItem
          routerLink="./"
          fragment="about-us"
          appMenuItemActive="about-us"
          >{{ 'profile.nav.aboutUs' | translate }}</a
        >
        <a
          *appMenuItem
          routerLink="./"
          fragment="sdgs"
          appMenuItemActive="sdgs"
          >{{ 'profile.nav.sdgs' | translate }}</a
        >
        <ng-container *ngIf="(activities$ | async)?.length">
          <a
            *appMenuItem
            routerLink="./"
            fragment="activities"
            appMenuItemActive="activities"
          >
            {{ 'profile.nav.activities' | translate }}
          </a>
        </ng-container>
      </app-page-menu>
    </div>
    <main content1 class="main-content">
      <section class="article-wrapper">
        <div class="top-actions">
          <a [href]="shareLink(orga)">
            <app-action [clickable]="false" icon="share">{{
              'btn.share' | translate
            }}</app-action>
          </a>
          <app-organisation-subscription-action [organisation]="orga">
          </app-organisation-subscription-action>
        </div>
        <app-section
          [title]="orga.name"
          [subtitle]="'profile.titles.aboutUs' | translate"
          [info]="'organisationType.' + orga.organisationType | translate"
        >
          <ng-container badge>
            <app-initiator-badge *ngIf="orga?.initiator"></app-initiator-badge
            ><app-project-sustainability-winner-badge
              *ngIf="orga?.projectSustainabilityWinner"
            ></app-project-sustainability-winner-badge>
          </ng-container>
          <app-html-wrapper [html]="orga.description || ''"></app-html-wrapper>
        </app-section>
      </section>

      <section
        class="article-wrapper"
        id="sdgs"
        *ngIf="orga.sustainableDevelopmentGoals"
      >
        <app-section
          [title]="'profile.titles.sdgsTagline' | translate"
          [subtitle]="'profile.titles.sdgs' | translate"
        >
          <div class="sdgs" #sdgs>
            <ng-container *ngFor="let sdg of orga.sustainableDevelopmentGoals">
              <div class="sdg"><app-sdg-icon [goal]="sdg"></app-sdg-icon></div>
            </ng-container>
          </div>
        </app-section>
      </section>
    </main>
    <div content2>
      <ng-container *ngIf="offers$ | async as offers">
        <ng-container *ngIf="activities$ | async as activities">
          <ng-container *ngIf="bp$ | async as bestPractices">
            <section
              class="article-wrapper"
              id="activities"
              *ngIf="offers.length || activities.length || bestPractices.length"
            >
              <app-section
                [title]="'profile.titles.activitiesTagline' | translate"
                [subtitle]="'profile.titles.activities' | translate"
              >
                <app-tabs>
                  <app-tab
                    *ngIf="offers.length"
                    [title]="'profile.labels.offers' | translate"
                  >
                    <ng-container *ngFor="let offer of offers">
                      <app-list-item
                        [type]="'OFFER'"
                        [title]="offer.name || ''"
                        [description]="offer.description || ''"
                        [thematicFocus]="offer.thematicFocus"
                        [image]="offer.image || ''"
                        [category]="
                          offer?.offerCategory
                            ? 'marketplace.labels.' +
                              offer?.offerCategory?.toString()
                            : ''
                        "
                        [openTitle]="'profile.buttons.openOffer'"
                        [openLink]="['/marketplace/search', offer.id]"
                      >
                        <app-offer-subscription-action
                          [short]="true"
                          [stroked]="true"
                          [offer]="offer"
                          [full]="true"
                        ></app-offer-subscription-action>
                      </app-list-item>
                    </ng-container>
                  </app-tab>

                  <app-tab
                    *ngIf="activities.length"
                    [title]="'profile.labels.activities' | translate"
                  >
                    <ng-container *ngFor="let activity of activities">
                      <app-list-item
                        [title]="activity.name || ''"
                        [description]="activity.description || ''"
                        [impactArea]="activity.impactArea"
                        [period]="activity.period"
                        [location]="activity.location"
                        [thematicFocus]="activity.thematicFocus"
                        [image]="activity.image || ''"
                        [category]="
                          activity?.activityType
                            ? 'activityType.' +
                              activity?.activityType?.toString()
                            : ''
                        "
                        [openTitle]="'profile.buttons.openActivity'"
                        [openLink]="[
                          '/',
                          'organisations',
                          activity.organisation?.id,
                          activity.id
                        ]"
                        (bookmark)="bookmarkHandler(activity.id, activity.name)"
                        (unbookmark)="unbookmarkHandler(activity.id)"
                      >
                        <app-activity-subscription-action
                          [short]="true"
                          [stroked]="true"
                          [activity]="activity"
                          [full]="true"
                        >
                        </app-activity-subscription-action>
                      </app-list-item>
                    </ng-container>
                  </app-tab>

                  <app-tab
                    *ngIf="bestPractices.length"
                    [title]="'profile.labels.bestPractices' | translate"
                  >
                    <ng-container *ngFor="let bestPractice of bestPractices">
                      <app-list-item
                        [type]="'BEST_PRACTICE'"
                        [title]="bestPractice.name || ''"
                        [description]="bestPractice.description || ''"
                        [thematicFocus]="bestPractice.thematicFocus"
                        [image]="bestPractice.image || ''"
                        [category]="
                          bestPractice?.bestPractiseCategory
                            ? 'marketplace.labels.' +
                              bestPractice?.bestPractiseCategory?.toString()
                            : ''
                        "
                        [openTitle]="'profile.buttons.openBestPractice'"
                        [openLink]="['/marketplace/search', bestPractice.id]"
                      >
                        <app-best-practice-subscription-action
                          [short]="true"
                          [stroked]="true"
                          [bp]="bestPractice"
                          [full]="true"
                        ></app-best-practice-subscription-action>
                      </app-list-item> </ng-container
                  ></app-tab>
                </app-tabs>
              </app-section>
            </section>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
    <div contact>
      <app-contact
        [name]="orga.name"
        [impactArea]="orga.impactArea"
        [contact]="orga.contact"
        [location]="orga.location"
        [socialMedia]="orga.socialMediaContacts"
        [thematicFocus]="orga.thematicFocus"
      ></app-contact>
    </div>
  </app-profile-layout>
</ng-container>
