<div class="category-select">
  <ng-container *ngFor="let option of options">
    <button
      type="button"
      mat-stroked-button
      color="warn"
      class="option"
      [ngClass]="{ selected: selected(option) }"
      [disabled]="disabled"
      (click)="setOption(option)"
    >
      <div class="button-wrapper">
        <span class="text">{{ option.label | translate }}</span>
        <app-outlined-icon *ngIf="selected(option)">check</app-outlined-icon>
      </div>
    </button>
  </ng-container>
</div>
<div class="error" *ngIf="isTouched && !selectedOption">
  <mat-error>
    <span>{{ 'validationErrors.required' | translate }}</span>
  </mat-error>
</div>
