@use 'theme' as *;
@use 'palette' as *;

.form-section {
  display: grid;
  gap: $spacing-8;
  grid-template-columns: minmax(0, 1fr);
  .header {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: $spacing-8;
    .header-content {
      display: grid;
      gap: $spacing-4;
    }

    .description {
      margin: 0;
    }
  }
  .content-wrapper {
    display: grid;
    gap: $spacing-8;
    grid-template-columns: minmax(0, 1fr);
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .form-section {
    .header {
      &.twoCols {
        min-width: 0;
        grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
      }
    }
    .content-wrapper {
      &.twoCols {
        min-width: 0;
        grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
      }
    }
  }
}
