@use 'theme' as *;
@use 'palette' as *;

.user-list-header {
  display: none;
  padding: $spacing-2;
}

@media screen and (min-width: $breakpoint-xs) {
  .user-list-header {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr 100px 100px;
    gap: $spacing-1;
    padding-bottom: $spacing-2;

    label {
      font-weight: bold;
    }

    .status {
      justify-self: flex-end;
    }
  }
}
