.invite-content-wrapper {
  display: flex;
  //justify-content: center;
  height: 100%;
  gap: 2em;
  //width: 60vw;
  flex-direction: row;
  //margin: auto;
  align-items: flex-start; //baseline;
  padding-top: 30vh;
}

.invite-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2em;
}

mat-icon {
  height: 70px;
  width: 70px;
  font-size: 5em;
}
