@use 'theme' as *;

.results-wrapper {
  height: 100%;
  min-height: 200px;
  position: relative;
}
.results {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
  justify-content: space-between;
  height: 100%;
  position: relative;
  .spinner-wrapper {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-4;
  }
}

.resetBtn {
  margin-top: $spacing-2;
}
