@use 'theme' as *;
@use 'palette' as *;

form {
  display: flex;
  flex-direction: column;
  margin: 2em;
}

.char-count {
  position: absolute;
  top: 4rem;
  right: 1rem;
}

.tip-tap-wrapper {
  position: relative;
}

.description {
  font-weight: bold;
  margin-bottom: $spacing-2;
}
