@use 'theme' as *;
@use 'palette' as *;

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  color: $blue-navy;
  .total {
    padding: $spacing-2;
    position: absolute;
    top: -0.8rem;
    left: 0;
    font-size: 1.2rem;
  }
  .noBreak {
    white-space: nowrap;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .wrapper {
    .total {
      top: $spacing-4;
      left: 1rem;
      font-size: inherit;
    }
  }
}
