<a
  class="card mat-elevation-z8"
  [routerLink]="['/organisations/', event.organisation?.id, event.id]"
>
  <article>
    <div class="logo" *ngIf="event.logo">
      <img [src]="logoUrl()" alt="logo" />
    </div>
    @if (event.organisation?.id) {
    <a
      class="orga-link"
      [routerLink]="['/organisations', event.organisation?.id]"
      >{{ event.organisation?.name }}</a
    >
    }
    <h3 class="title">{{ event.name }}</h3>
    <div class="description">{{ utils.excerpt(event.description) }}</div>
  </article>
  <footer>
    <app-content-row
      [small]="true"
      icon="event"
      [content]="utils.dateRangeString(utils.asActivity(event).period)"
    ></app-content-row>
    <app-content-row
      [small]="true"
      [content]="utils.locationString(event.location)"
    ></app-content-row>
  </footer>
</a>
