@use 'theme' as *;
@use 'palette' as *;

.card {
  height: 460px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background: white;
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.2);
  article {
    flex-grow: 1;
    padding: $spacing-4 $spacing-6 $spacing-17 $spacing-6;
    height: 100%;

    .description {
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
    }

    .orga-link {
      display: block;
      margin-bottom: $spacing-8;
    }

    .logo {
      width: $spacing-22;
      height: $spacing-22;
      margin-bottom: $spacing-6;

      img {
        width: 100%;
        height: 100%;
        border: 2px solid $gray-light;
      }
    }

    .title {
      margin-bottom: $spacing-4;
      font-weight: 700;
    }
  }

  footer {
    height: $spacing-18;
    flex-shrink: 0;
    padding-inline: $spacing-4;
    background: $blue-light;
    display: flex;
    align-items: center;
    gap: $spacing-3;

    .content-row {
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex: 0 0 50%;

      p {
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      mark {
        box-decoration-break: clone;
        background: transparent;
        box-shadow: 0 -7px 0 inset $blue-light, 0 4px 0 $blue-light;
        color: $blue-navy;
      }

      .content {
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        gap: 8px;

        svg {
          flex-shrink: 0;
        }
      }

      .decorator {
        z-index: 0;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -6px;
        height: 16px;
        background-color: $blue-light;
      }
    }
  }
}
@media screen and (min-width: 800px) {
  .card {
    article {
      padding: $spacing-4 $spacing-8 $spacing-17 $spacing-8;
    }
  }
}
