@use 'theme' as *;
@use 'palette' as *;
:host {
  .logo {
    position: absolute;
    top: $spacing-4;
    left: $spacing-4;
    z-index: 9000;
    height: 8em;
    width: 8em;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}
