<form class="search-form" (submit)="handleSubmit()">
  <div class="input-wrapper">
    <input
      class="search-field large"
      [placeholder]="placeholder"
      [value]="value"
      (keyup)="handleChange($event)"
      name="query"
    />
    <button
      type="button"
      *ngIf="value"
      class="clear-btn"
      (click)="handleClear()"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <button type="submit" class="button" mat-flat-button color="accent">
    {{ buttonText || 'btn.search' | translate }}
  </button>
</form>
