<form [formGroup]="topicsFormGroup">
  <mat-form-field>
    <mat-label>{{
      'forms.labels.sustainableDevelopmentGoals' | translate
    }}</mat-label>
    <mat-select formControlName="sustainableDevelopmentGoals" multiple>
      <mat-option *ngFor="let goalNo of sdgOptions" [value]="goalNo">
        {{ goalNo }} {{ 'SDGS.goal_' + goalNo | translate }}
      </mat-option>
    </mat-select>
    <mat-error>
      <app-form-field-error
        [field]="topicsFormGroup.get('sustainableDevelopmentGoals')"
      ></app-form-field-error>
    </mat-error>
  </mat-form-field>

  <app-thematic-focus-control
    controlName="thematicFocus"
    [label]="'forms.labels.thematicFocus' | translate"
  ></app-thematic-focus-control>
  <mat-form-field>
    <mat-label>{{ 'forms.labels.impactArea' | translate }}</mat-label>
    <mat-select formControlName="impactArea">
      <mat-option
        *ngFor="let impactArea of impactAreaOpts"
        [value]="impactArea"
      >
        {{ 'impactArea.' + impactArea | translate }}
      </mat-option>
    </mat-select>
    <mat-error>
      <app-form-field-error
        [field]="topicsFormGroup.get('impactArea')"
      ></app-form-field-error>
    </mat-error>
  </mat-form-field>

  <div class="fields">
    <div class="field">
      <mat-radio-group aria-label="Select an option" formControlName="location">
        <div class="radio-options">
          <mat-radio-button value="ADDRESS">
            {{ 'forms.labels.onSite' | translate }}</mat-radio-button
          >
          <mat-radio-button value="ONLINE">
            {{ 'forms.labels.onlineLong' | translate }}</mat-radio-button
          >
        </div>
      </mat-radio-group>
    </div>

    <div class="field">
      <mat-form-field *ngIf="isAddressNameVisible">
        <mat-label>{{ 'forms.labels.addressName' | translate }}</mat-label>
        <input
          matInput
          [placeholder]="'forms.labels.addressName' | translate"
          formControlName="name"
        />
        <app-valid-check
          [form]="topicsFormGroup"
          controlName="name"
        ></app-valid-check>
        <mat-error>
          <app-form-field-error
            [field]="topicsFormGroup.get('name')"
          ></app-form-field-error>
        </mat-error>
      </mat-form-field>
      <div class="address-row-1">
        <mat-form-field>
          <mat-label>{{ 'forms.labels.street' | translate }}</mat-label>
          <input
            matInput
            [placeholder]="'forms.labels.street' | translate"
            formControlName="street"
          />

          <app-valid-check
            [form]="topicsFormGroup"
            controlName="street"
          ></app-valid-check>

          <mat-error>
            <app-form-field-error
              [field]="topicsFormGroup.get('street')"
            ></app-form-field-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'forms.labels.streetNo' | translate }}</mat-label>
          <input
            matInput
            [placeholder]="'forms.labels.streetNo' | translate"
            formControlName="streetNo"
          />

          <app-valid-check
            [form]="topicsFormGroup"
            controlName="streetNo"
          ></app-valid-check>

          <mat-error>
            <app-form-field-error
              [field]="topicsFormGroup.get('streetNo')"
            ></app-form-field-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'forms.labels.supplement' | translate }}</mat-label>
          <input
            matInput
            [placeholder]="'forms.labels.supplement' | translate"
            formControlName="supplement"
          />

          <app-valid-check
            [form]="topicsFormGroup"
            controlName="supplement"
          ></app-valid-check>

          <mat-error>
            <app-form-field-error
              [field]="topicsFormGroup.get('supplement')"
            ></app-form-field-error>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="address-row-2">
        <mat-form-field>
          <mat-label>{{ 'forms.labels.zipCode' | translate }}</mat-label>
          <input
            matInput
            [placeholder]="'forms.labels.zipCode' | translate"
            formControlName="zipCode"
          />

          <app-valid-check
            [form]="topicsFormGroup"
            controlName="zipCode"
          ></app-valid-check>

          <mat-error>
            <app-form-field-error
              [field]="topicsFormGroup.get('zipCode')"
            ></app-form-field-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'forms.labels.city' | translate }}</mat-label>
          <input
            matInput
            [placeholder]="'forms.labels.city' | translate"
            formControlName="city"
          />

          <app-valid-check
            [form]="topicsFormGroup"
            controlName="city"
          ></app-valid-check>

          <mat-error>
            <app-form-field-error
              [field]="topicsFormGroup.get('city')"
            ></app-form-field-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'forms.labels.country' | translate }}</mat-label>
          <input
            matInput
            [placeholder]="'forms.labels.country' | translate"
            formControlName="country"
          />

          <app-valid-check
            [form]="topicsFormGroup"
            controlName="country"
          ></app-valid-check>

          <mat-error>
            <app-form-field-error
              [field]="topicsFormGroup.get('country')"
            ></app-form-field-error>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div
    class="error-wrapper"
    *ngIf="
      !(isLocationRequired === false && !!topicsFormGroup.get('online')?.value)
    "
  >
    <app-alert
      *ngIf="coordinatesNotFound && anyAddressFieldIsDirty()"
      [title]="'validationErrors.coordinatesNotFoundTitle' | translate"
      [showIcon]="true"
      bgIcon="travel_explore"
      fgIcon="priority_high"
    >
      {{ 'validationErrors.coordinatesNotFound' | translate }}
    </app-alert>
    <app-spinner
      *ngIf="!coordinatesNotFound"
      forId="load-coords"
      [noPadding]="true"
      [small]="true"
    ></app-spinner>
  </div>
</form>
