@use 'palette' as *;
@use 'theme' as *;

form {
  display: flex;
  flex-direction: column;
}

.fields {
  display: grid;
  gap: $spacing-8;
}

.field {
  position: relative;
}

.radio-options {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-4;
}

.address-row-1,
.address-row-2 {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;

  .mat-form-field {
    flex: 1 0 20%;
  }

  .mat-form-field:last-child {
    flex: 0 0 20%;
  }
}

.address-row-1 {
  .mat-form-field:first-child {
    flex: 0 0 40%;
  }

  .mat-form-field:last-child {
    flex: 0 0 35%;
  }
}

.address-row-2 {
  .mat-form-field:first-child {
    flex: 0 0 20%;
  }
}

.coordinates-error {
  display: grid;
  grid-template-columns: 7.2rem 1fr;
  gap: $spacing-4;
  padding: $spacing-2;
  border: 2px solid $bordeauxe;
  margin-bottom: 200px;
  .msg {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: $spacing-1;

    .title {
      color: $bordeauxe;
      font-weight: bold;
    }
  }
}

.online-checkbox-long {
  display: none;
}

@media screen and (min-width: 600px) {
  .address-row-1,
  .address-row-2 {
    flex-direction: row;
  }

  .online-checkbox-long {
    display: block;
  }
  .online-checkbox-short {
    display: none;
  }
}
