.actions-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2em;
  padding: 2em;
}

#next-step,
.step-state-message {
  display: flex;
  align-items: center;
  gap: 1em;
}

.next-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2em;
}

@media screen and (min-width: 800px) {
  .actions-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .next-buttons {
    flex-direction: row;
  }
}
