<ng-container *ngIf="paging$ | async as paging">
  <app-calendar-layout [total]="paging.totalElements || 0">
    <div search-field>
      <app-search-controls
        (search)="handleSearch($event)"
      ></app-search-controls>
    </div>
    <div filter-bar>
      <div>
        <app-filter-modal-button
          [count]="countFilters()"
          (clear)="clearAll()"
          (openModal)="openFilters()"
        ></app-filter-modal-button>
      </div>
    </div>

    <div results>
      <ng-container *ngIf="events$ | async as events">
        <app-event-list>
          <ng-container *ngFor="let event of events; let i = index">
            <app-event
              [event]="event"
              [last]="events.length === i + 1"
            ></app-event>
          </ng-container>
        </app-event-list>
        <pre>{{ events | json }}</pre>
      </ng-container>
    </div>
    <div filters>filter</div>
  </app-calendar-layout>
</ng-container>
