@use 'theme' as *;
@use 'palette' as *;

.group {
  display: flex;
  flex-direction: column;
  gap: $spacing-8;
  margin-bottom: $spacing-8;
  width: 100%;

  .date {
    background-color: $blue-navy;
    color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-weight: bold;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    .text {
      text-align: center;
      padding: 0 $spacing-2;
    }
  }
}

.placeholder {
  &.noElements {
    height: 100vh;
  }
}

@media screen and (min-width: $breakpoint-xs) {
  .group {
    flex-direction: row;

    .date {
      position: sticky;
      top: calc(#{$top-nav-height} + #{$spacing-4});
    }
  }
}
