<div #slidercontainer id="partner-links">
  <div
    id="partner-links-slider"
    class="slider-wrapper"
    *ngIf="filtered?.length"
  >
    <div class="title">
      <app-heading size="sm" color="none" [uppercase]="true">{{
        'marketplace.titles.slider' | translate
      }}</app-heading>
    </div>

    <swiper-container #swiper slides-per-view="auto" loop="true" space-between="12" loop-fill-group-with-blank="true" >
      <ng-container *ngFor="let link of filtered">
        <swiper-slide >
          <a class="slide-wrapper" target="_blank" [href]="link.url">
            <div class="image-wrapper">
              <img [src]="link.logo" alt="" />
            </div>
            <h5>{{ link.title }}</h5>
          </a>
        </swiper-slide>
      </ng-container>
    </swiper-container>

    
    <div class="buttons" *ngIf="filtered.length">
      <button class="button prev" type="button" (click)="slidePrev()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button class="button next" type="button" (click)="slideNext()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</div>
