<ng-container [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>{{ 'forms.labels.url' | translate }}</mat-label>
    <input
      matInput
      [placeholder]="'forms.labels.url' | translate"
      formControlName="url"
    />
    <app-valid-check [form]="form" controlName="url"></app-valid-check>
    <mat-error>
      <app-form-field-error [field]="form.get('url')"></app-form-field-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngFor="let type of socialMediaTypes" appearance="outline">
    <mat-label>{{ 'forms.labels.' + type | translate }}</mat-label>
    <input
      matInput
      [placeholder]="'forms.labels.' + type | translate"
      [formControlName]="type"
    />

    <app-valid-check [form]="form" [controlName]="type"></app-valid-check>

    <mat-error>
      <app-form-field-error [field]="form.get(type)"></app-form-field-error>
    </mat-error>
  </mat-form-field>
</ng-container>
