<div class="content" role="main">
  <section>
    <div [@openClose]="open ? 'open' : 'closed'">
      {{ open ? 'open' : 'close' }}
    </div>
    <button (click)="toggle()">toggle</button>
  </section>

  <section class="bg-accent">
    <h1>Lorem Ipsum</h1>

    <app-sdgs-list></app-sdgs-list>

    <p>
      Goat cheesecake fromage. Manchego cheddar halloumi manchego lancashire
      everyone loves croque monsieur cut the cheese. Port-salut jarlsberg
      babybel caerphilly st. agur blue cheese macaroni cheese blue castello
      cheese on toast. Cream cheese feta melted cheese jarlsberg. Mascarpone
      dolcelatte paneer. Danish fontina cheese triangles blue castello
      lancashire edam cauliflower cheese blue castello halloumi. Smelly cheese
      rubber cheese gouda cheddar hard cheese lancashire halloumi everyone
      loves. Macaroni cheese cheesecake jarlsberg cheese and biscuits. Cheese
      triangles airedale bocconcini. Macaroni cheese edam cow stilton roquefort
      bocconcini feta paneer. Manchego fromage frais queso port-salut cheese on
      toast stilton swiss boursin. Fromage frais pecorino say cheese squirty
      cheese fondue airedale. St. agur blue cheese croque monsieur monterey
      jack. Croque monsieur jarlsberg fondue goat cheesy grin cream cheese cow
      cheese strings. Paneer cottage cheese boursin cottage cheese pepper jack
      parmesan bavarian bergkase boursin. Camembert de normandie edam paneer.
      Boursin rubber cheese swiss. Manchego swiss boursin taleggio cheese slices
      cheddar cheddar edam. Cheeseburger rubber cheese monterey jack cheese
      strings rubber cheese squirty cheese jarlsberg edam. Stinking bishop swiss
      everyone loves ricotta smelly cheese who moved my cheese bocconcini
      manchego. Babybel.
    </p>
  </section>

  <section class="bg-orange-light">
    <p>
      Goat cheesecake fromage. Manchego cheddar halloumi manchego lancashire
      everyone loves croque monsieur cut the cheese. Port-salut jarlsberg
      babybel caerphilly st. agur blue cheese macaroni cheese blue castello
      cheese on toast. Cream cheese feta melted cheese jarlsberg. Mascarpone
      dolcelatte paneer. Danish fontina cheese triangles blue castello
      lancashire edam cauliflower cheese blue castello halloumi. Smelly cheese
      rubber cheese gouda cheddar hard cheese lancashire halloumi everyone
      loves. Macaroni cheese cheesecake jarlsberg cheese and biscuits. Cheese
      triangles airedale bocconcini. Macaroni cheese edam cow stilton roquefort
      bocconcini feta paneer. Manchego fromage frais queso port-salut cheese on
      toast stilton swiss boursin. Fromage frais pecorino say cheese squirty
      cheese fondue airedale. St. agur blue cheese croque monsieur monterey
      jack. Croque monsieur jarlsberg fondue goat cheesy grin cream cheese cow
      cheese strings. Paneer cottage cheese boursin cottage cheese pepper jack
      parmesan bavarian bergkase boursin. Camembert de normandie edam paneer.
      Boursin rubber cheese swiss. Manchego swiss boursin taleggio cheese slices
      cheddar cheddar edam. Cheeseburger rubber cheese monterey jack cheese
      strings rubber cheese squirty cheese jarlsberg edam. Stinking bishop swiss
      everyone loves ricotta smelly cheese who moved my cheese bocconcini
      manchego. Babybel.
    </p>
  </section>

  <section class="bg-green">
    <app-sdgs-list [sdgs]="[3, 4, 5]"></app-sdgs-list>
    <p>
      Goat cheesecake fromage. Manchego cheddar halloumi manchego lancashire
      everyone loves croque monsieur cut the cheese. Port-salut jarlsberg
      babybel caerphilly st. agur blue cheese macaroni cheese blue castello
      cheese on toast. Cream cheese feta melted cheese jarlsberg. Mascarpone
      dolcelatte paneer. Danish fontina cheese triangles blue castello
      lancashire edam cauliflower cheese blue castello halloumi. Smelly cheese
      rubber cheese gouda cheddar hard cheese lancashire halloumi everyone
      loves. Macaroni cheese cheesecake jarlsberg cheese and biscuits. Cheese
      triangles airedale bocconcini. Macaroni cheese edam cow stilton roquefort
      bocconcini feta paneer. Manchego fromage frais queso port-salut cheese on
      toast stilton swiss boursin. Fromage frais pecorino say cheese squirty
      cheese fondue airedale. St. agur blue cheese croque monsieur monterey
      jack. Croque monsieur jarlsberg fondue goat cheesy grin cream cheese cow
      cheese strings. Paneer cottage cheese boursin cottage cheese pepper jack
      parmesan bavarian bergkase boursin. Camembert de normandie edam paneer.
      Boursin rubber cheese swiss. Manchego swiss boursin taleggio cheese slices
      cheddar cheddar edam. Cheeseburger rubber cheese monterey jack cheese
      strings rubber cheese squirty cheese jarlsberg edam. Stinking bishop swiss
      everyone loves ricotta smelly cheese who moved my cheese bocconcini
      manchego. Babybel.
    </p>
  </section>

  <section class="bg-yellow">
    <p>
      Goat cheesecake fromage. Manchego cheddar halloumi manchego lancashire
      everyone loves croque monsieur cut the cheese. Port-salut jarlsberg
      babybel caerphilly st. agur blue cheese macaroni cheese blue castello
      cheese on toast. Cream cheese feta melted cheese jarlsberg. Mascarpone
      dolcelatte paneer. Danish fontina cheese triangles blue castello
      lancashire edam cauliflower cheese blue castello halloumi. Smelly cheese
      rubber cheese gouda cheddar hard cheese lancashire halloumi everyone
      loves. Macaroni cheese cheesecake jarlsberg cheese and biscuits. Cheese
      triangles airedale bocconcini. Macaroni cheese edam cow stilton roquefort
      bocconcini feta paneer. Manchego fromage frais queso port-salut cheese on
      toast stilton swiss boursin. Fromage frais pecorino say cheese squirty
      cheese fondue airedale. St. agur blue cheese croque monsieur monterey
      jack. Croque monsieur jarlsberg fondue goat cheesy grin cream cheese cow
      cheese strings. Paneer cottage cheese boursin cottage cheese pepper jack
      parmesan bavarian bergkase boursin. Camembert de normandie edam paneer.
      Boursin rubber cheese swiss. Manchego swiss boursin taleggio cheese slices
      cheddar cheddar edam. Cheeseburger rubber cheese monterey jack cheese
      strings rubber cheese squirty cheese jarlsberg edam. Stinking bishop swiss
      everyone loves ricotta smelly cheese who moved my cheese bocconcini
      manchego. Babybel.
    </p>
  </section>

  <section class="bg-blue-navy">
    <p>
      Goat cheesecake fromage. Manchego cheddar halloumi manchego lancashire
      everyone loves croque monsieur cut the cheese. Port-salut jarlsberg
      babybel caerphilly st. agur blue cheese macaroni cheese blue castello
      cheese on toast. Cream cheese feta melted cheese jarlsberg. Mascarpone
      dolcelatte paneer. Danish fontina cheese triangles blue castello
      lancashire edam cauliflower cheese blue castello halloumi. Smelly cheese
      rubber cheese gouda cheddar hard cheese lancashire halloumi everyone
      loves. Macaroni cheese cheesecake jarlsberg cheese and biscuits. Cheese
      triangles airedale bocconcini. Macaroni cheese edam cow stilton roquefort
      bocconcini feta paneer. Manchego fromage frais queso port-salut cheese on
      toast stilton swiss boursin. Fromage frais pecorino say cheese squirty
      cheese fondue airedale. St. agur blue cheese croque monsieur monterey
      jack. Croque monsieur jarlsberg fondue goat cheesy grin cream cheese cow
      cheese strings. Paneer cottage cheese boursin cottage cheese pepper jack
      parmesan bavarian bergkase boursin. Camembert de normandie edam paneer.
      Boursin rubber cheese swiss. Manchego swiss boursin taleggio cheese slices
      cheddar cheddar edam. Cheeseburger rubber cheese monterey jack cheese
      strings rubber cheese squirty cheese jarlsberg edam. Stinking bishop swiss
      everyone loves ricotta smelly cheese who moved my cheese bocconcini
      manchego. Babybel.
    </p>
  </section>

  <section class="bg-bordeauxe">
    <p>
      Goat cheesecake fromage. Manchego cheddar halloumi manchego lancashire
      everyone loves croque monsieur cut the cheese. Port-salut jarlsberg
      babybel caerphilly st. agur blue cheese macaroni cheese blue castello
      cheese on toast. Cream cheese feta melted cheese jarlsberg. Mascarpone
      dolcelatte paneer. Danish fontina cheese triangles blue castello
      lancashire edam cauliflower cheese blue castello halloumi. Smelly cheese
      rubber cheese gouda cheddar hard cheese lancashire halloumi everyone
      loves. Macaroni cheese cheesecake jarlsberg cheese and biscuits. Cheese
      triangles airedale bocconcini. Macaroni cheese edam cow stilton roquefort
      bocconcini feta paneer. Manchego fromage frais queso port-salut cheese on
      toast stilton swiss boursin. Fromage frais pecorino say cheese squirty
      cheese fondue airedale. St. agur blue cheese croque monsieur monterey
      jack. Croque monsieur jarlsberg fondue goat cheesy grin cream cheese cow
      cheese strings. Paneer cottage cheese boursin cottage cheese pepper jack
      parmesan bavarian bergkase boursin. Camembert de normandie edam paneer.
      Boursin rubber cheese swiss. Manchego swiss boursin taleggio cheese slices
      cheddar cheddar edam. Cheeseburger rubber cheese monterey jack cheese
      strings rubber cheese squirty cheese jarlsberg edam. Stinking bishop swiss
      everyone loves ricotta smelly cheese who moved my cheese bocconcini
      manchego. Babybel.
    </p>
  </section>

  <h2>Content Wrappers</h2>
  <app-content-wrapper>
    <h3>Full</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati vel sit
      reprehenderit quod veritatis qui a praesentium perspiciatis? Perferendis,
      cumque. Numquam provident et exercitationem veniam explicabo fugiat enim
      aut eum.
    </p>
  </app-content-wrapper>
  <app-content-wrapper size="sm">
    <h3>SM</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati vel sit
      reprehenderit quod veritatis qui a praesentium perspiciatis? Perferendis,
      cumque. Numquam provident et exercitationem veniam explicabo fugiat enim
      aut eum.
    </p>
  </app-content-wrapper>
  <app-content-wrapper size="md">
    <h3>MD</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati vel sit
      reprehenderit quod veritatis qui a praesentium perspiciatis? Perferendis,
      cumque. Numquam provident et exercitationem veniam explicabo fugiat enim
      aut eum.
    </p>
  </app-content-wrapper>

  <app-content-wrapper size="xl">
    <h3>LG</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati vel sit
      reprehenderit quod veritatis qui a praesentium perspiciatis? Perferendis,
      cumque. Numquam provident et exercitationem veniam explicabo fugiat enim
      aut eum.
    </p>
  </app-content-wrapper>
</div>
