@use 'theme' as *;
.filter-checkbox-entries {
  display: grid;
  gap: 0;
  padding: 0;
  margin: 0;

  .entry {
    list-style-type: none;
    width: 100%;
    .label {
      display: block;
      width: 230px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      @media screen and (min-width: 550px) {
        width: 400px;
      }
      @media screen and (min-width: 700px) {
        width: 500px;
      }
      @media screen and (min-width: 800px) {
        width: 600px;
      }
      @media screen and (min-width: 900px) {
        width: auto;
      }

      .prefix {
        margin-right: $spacing-2;
      }
    }
  }
}
