<app-content-wrapper size="xl">
  <div class="content-wrapper">
    <div class="image">
      <svg
        width="138"
        height="221"
        viewBox="0 0 138 221"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          y="101"
          width="101"
          height="45"
          transform="rotate(-90 0 101)"
          fill="#DD1367"
        />
        <rect y="91" width="138" height="45" fill="#19486A" />
        <rect
          x="69"
          y="221"
          width="155"
          height="45"
          transform="rotate(-90 69 221)"
          fill="#DD1367"
        />
      </svg>

      <svg
        width="221"
        height="221"
        viewBox="0 0 221 221"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="110.5" cy="110.5" r="110.5" fill="#19486A" />
        <circle cx="110.5" cy="111.5" r="65.5" fill="#DD1367" />
      </svg>

      <svg
        width="138"
        height="221"
        viewBox="0 0 138 221"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          y="101"
          width="101"
          height="45"
          transform="rotate(-90 0 101)"
          fill="#DD1367"
        />
        <rect y="91" width="138" height="45" fill="#19486A" />
        <rect
          x="69"
          y="221"
          width="155"
          height="45"
          transform="rotate(-90 69 221)"
          fill="#DD1367"
        />
      </svg>
    </div>
    <div>
      <h1>{{ 'error.notFoundTitle' | translate }}</h1>
      <p>{{ 'error.notFound' | translate }}</p>
    </div>
    <div>
      <button mat-flat-button color="accent" (click)="goToLandingpage()">
        {{ 'btn.goToLandingpage' | translate }}
      </button>
    </div>
  </div>
</app-content-wrapper>
