@use 'theme' as *;
@use 'palette' as *;
:host {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9000;
  position: absolute;
  color: $blue-navy;

  .close-button {
    position: absolute;
    top: $spacing-4;
    left: $spacing-4;
    z-index: $z10;
    background-color: white;
    border-radius: 50%;
  }

  .details {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 70px;
    background-color: white;
    overflow: auto;

    .header {
      height: 17rem;
      width: 100%;
      position: relative;
      z-index: $z1;

      .expiredBadge {
        position: absolute;
        z-index: 4;
        bottom: 0;
        left: $spacing-4;
      }

      .expiredOverlay {
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.7);

        &.logoOverlay {
          left: -2px;
          right: -2px;
          top: -2px;
          bottom: -2px;
        }
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .type {
        position: absolute;
        height: 28px;
        bottom: -$spacing-4;
        left: 12.6rem;
        z-index: 3;

        &.noLogo {
          left: $spacing-4;
        }
      }

      .logo {
        height: $spacing-24;
        width: $spacing-24;
        object-fit: cover;
        border: 2px solid $gray-light;
        position: absolute;
        bottom: -$spacing-3;
        left: $spacing-4;
        z-index: 3;
        &.ORGANISATION {
          border: 2px solid $orange;
        }
        &.ACTIVITY {
          border: 2px solid $green;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .body {
      padding: $spacing-4;
      padding-top: 0;
      display: grid;
      gap: $spacing-6;
      position: relative;
      overflow: hidden;

      .deco {
        opacity: 1;
        position: absolute;
        background-color: $blue-light;
        width: 50rem;
        height: 50rem;
        border-radius: 50%;
        left: -10rem;
        top: -20rem;
        transition: opacity 200ms;
      }

      .title-and-desc {
        padding-top: $spacing-8;
      }

      .title {
        font-weight: bold;
        position: relative;
        z-index: $z1;
        margin: 0;
        margin-bottom: $spacing-4;
        font-size: 1.8rem;
        line-height: 120%;
      }

      .desc {
        position: relative;
        z-index: $z1;
        margin: 0;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        hyphens: auto;
      }

      .badge {
        margin-top: $spacing-4;
      }

      .subtitle {
        font-weight: bold;
        margin: 0;
        position: relative;
        font-size: 1.4rem;
        line-height: 2.4rem;
        z-index: $z1;
      }

      .group {
        display: grid;
        gap: $spacing-2;
        position: relative;
        z-index: $z1;
      }

      .sdgs {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 120px));
        gap: $spacing-2;

        &.remaining-sdgs {
          transition: height 300ms;
          overflow: hidden;
        }
      }
      .sdg-expand-button {
        display: flex;
        gap: $spacing-1;
        justify-content: center;
        align-items: center;
        .icon {
          display: flex;
          align-items: center;
          &.open {
            transform: rotate(-180deg);
          }
        }
      }
      .thematicFocus {
        display: flex;
        gap: $spacing-1;
        flex-wrap: wrap;
      }
    }
  }
}

.wrapper {
  height: 100%;
  &.mobile {
    .details {
      position: static;
    }
  }
}

@media screen {
  :host {
    width: 40%;
    height: 100%;
    left: auto;
    top: auto;
    .close-button {
      top: 3.4rem;
      right: 0.4rem;
      left: auto;
    }
    .details {
      top: $spacing-8;
    }
  }
}
