@use 'theme' as *;
@use 'palette' as *;

.pager {
  padding-top: $spacing-4;
}

.no-coordinates-hint {
  margin-bottom: $spacing-4;
}
.actions-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-2;
  align-items: center;
  justify-content: space-between;

  .buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: $spacing-4;
    .create-button {
      margin-right: $spacing-4;
    }
    .help-button {
      margin-left: -$spacing-4;
      .help-button-content {
        height: 100%;
        display: flex;
        align-items: center;
        gap: $spacing-2;
        .icon {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.lists {
  display: grid;
  gap: $spacing-20;

  .card-wrapper {
    position: relative;

    .error-badge {
      position: absolute;
      left: -4rem;
      top: $spacing-4;
      width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
