@use 'theme' as *;
@use 'palette' as *;

.filter-header {
  display: flex;
  width: 100%;
  margin-bottom: $spacing-4;

  .tab-button {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: $blue-navy;
    padding: $spacing-2;
    border-bottom: 2px solid $gray-light;
    cursor: pointer;
    &.active {
      border-bottom: 2px solid $magenta;
      font-weight: bold;
    }
  }
}
