@use 'theme' as *;
@use 'palette' as *;

.main-results {
  background-color: $gray-light;
  .main-results-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    place-content: center;

    gap: $spacing-8;
    margin-top: $spacing-8;
  }
}
