@use 'theme' as *;
@use 'palette' as *;
.tabs {
  background-color: $gray-light;
}
.main-results {
  background-color: $gray-light;
  .main-results-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    place-content: center;

    gap: $spacing-8;
    padding-block-start: $spacing-8;
    padding-block-end: $spacing-16;
  }
}
.remaining-results {
  display: grid;
  gap: $spacing-6;

  .remaining-results-list {
    display: grid;
    gap: $spacing-6;
  }
}
