@use 'theme' as *;
@use 'palette' as *;
.tabs {
  background-color: $gray-light;
  padding-top: $spacing-10;
}
.main-results {
  background-color: $gray-light;
  .main-results-cards {
    display: flex;
    flex-direction: column;

    gap: $spacing-6;
    padding-block-start: $spacing-8;
    padding-block-end: $spacing-16;
  }
}
.remaining-results {
  display: grid;
  gap: $spacing-6;
  padding-bottom: $spacing-10;

  .remaining-results-list {
    display: grid;
    gap: $spacing-6;
  }
}

@media screen and (min-width: 500px) {
  .main-results {
    .main-results-cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      place-content: center;

      gap: $spacing-8;
      padding-block-start: $spacing-8;
      padding-block-end: $spacing-16;
    }
  }
}
