@use 'theme' as *;
@use 'palette' as *;

.confrimation-modal {
  .header {
    display: grid;
    gap: $spacing-2;
    margin-bottom: $spacing-8;
    padding: $spacing-6;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: $spacing-2;
    width: 100%;
    padding: $spacing-6;
  }
}
