<div class="form-step-description">
  <div
    class="description-content-wrapper"
    *ngIf="
         content?.stepDescriptions &&
         content?.stepDescriptions !== null &&
         stepDescriptionId !== null &&
         content?.stepDescriptions?.[stepDescriptionId] !== undefined && 
         content?.stepDescriptions?.[stepDescriptionId]?.description !== undefined
        "
  >
    <app-html-wrapper
      [html]="content?.stepDescriptions?.[stepDescriptionId]?.description || ''"
    ></app-html-wrapper>
  </div>
</div>
