<app-action
  [clickable]="true"
  [stroked]="stroked"
  [small]="small"
  *ngIf="!subscriptionFacade.oganisationIsSubcribed(organisation?.id)"
  icon="add"
  (clicked)="followHandler()"
>
  <span [ngClass]="{ small: small }">
    <span *ngIf="!short">{{ 'btn.follow' | translate }}</span>
    <span *ngIf="short">{{ 'btn.followShort' | translate }}</span>
  </span>
</app-action>
<app-action
  [clickable]="true"
  [stroked]="stroked"
  [small]="small"
  *ngIf="subscriptionFacade.oganisationIsSubcribed(organisation?.id)"
  icon="check"
  (clicked)="unfollowHandler()"
>
  <span [ngClass]="{ small: small }">
    <span *ngIf="!short">{{ 'btn.unfollow' | translate }}</span>
    <span *ngIf="short">{{ 'btn.unfollowShort' | translate }}</span>
  </span>
</app-action>
