@use 'palette' as *;
@use 'theme' as *;

.layout {
  width: 100%;
  .step {
    margin: 8rem auto;
    width: 100%;
    min-width: 100%;
  }
  .sidebar {
    display: none;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .layout {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 40rem;
    .step {
      margin: 8rem auto;
    }
    .sidebar {
      display: block;
    }
  }
}
