<ng-container *ngIf="!onlyIcon && !stroked">
  <button mat-button (click)="clickHandler()" color="accent">
    <div class="action" [ngClass]="{ small: small }">
      <app-outlined-icon *ngIf="icon">{{ icon }}</app-outlined-icon>
      <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
    </div>
  </button>
</ng-container>
<ng-container *ngIf="!onlyIcon && stroked">
  <button mat-stroked-button (click)="clickHandler()" color="accent">
    <div class="action" [ngClass]="{ small: small }">
      <app-outlined-icon *ngIf="icon">{{ icon }}</app-outlined-icon>
      <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
    </div>
  </button>
</ng-container>
<ng-container *ngIf="onlyIcon">
  <button
    [matTooltip]="tooltip"
    mat-icon-button
    (click)="clickHandler()"
    [color]="getColor()"
    [ngClass]="{ small: small, disabled: disabled, toggle: toggle }"
  >
    <app-outlined-icon *ngIf="icon">{{ icon }}</app-outlined-icon>
  </button>
</ng-container>
<ng-template #contentTpl><ng-content></ng-content></ng-template>
