@use 'theme' as *;
@use 'palette' as *;

form {
  display: flex;
  flex-direction: column;
}

.char-count {
  position: absolute;
  top: 4rem;
  right: 1rem;
}

.tip-tap-wrapper {
  position: relative;
}

.two-cols {
  flex-direction: column;
  display: flex;
  gap: 0;
  align-items: flex-start;
  margin-bottom: $spacing-8;
  > * {
    flex: 1 0 50%;
  }
}

.date-checkbox {
  margin-bottom: $spacing-4;
  span {
    color: $blue-navy;
  }
}

.file-uploads {
  display: flex;
  gap: 2em;
  flex-direction: column;
  margin-bottom: $spacing-4;
}

.description {
  font-weight: bold;
  margin-bottom: $spacing-2;
}

@media screen and (min-width: $breakpoint-sm) {
  .file-uploads {
    flex-direction: row;
  }
  .two-cols {
    flex-direction: row;
    display: flex;
    gap: $spacing-8;
    align-items: flex-start;
    margin-bottom: 0;
  }
}
