<form [formGroup]="activityFormGroup">
  <mat-form-field>
    <mat-label>{{ 'sign-up.form.labels.ACTIVITY.name' | translate }}</mat-label>
    <input
      matInput
      [placeholder]="'sign-up.form.labels.ACTIVITY.name' | translate"
      formControlName="name"
    />
    <mat-error>
      <app-form-field-error
        [field]="activityFormGroup.get('name')"
      ></app-form-field-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{
      'sign-up.form.labels.ACTIVITY.activityType' | translate
    }}</mat-label>
    <mat-select formControlName="activityType">
      <mat-option
        *ngFor="let activityType of activityTypeOpts"
        [value]="activityType"
      >
        {{ 'activityType.' + activityType | translate }}
      </mat-option>
    </mat-select>
    <mat-error>
      <app-form-field-error
        [field]="activityFormGroup.get('activityType')"
      ></app-form-field-error>
    </mat-error>
  </mat-form-field>

  <div
    class="mat-form-field-appearance-outline wysiwyg-form-field"
    [class.ng-invalid]="
      activityFormGroup.get('description')?.invalid &&
      (activityFormGroup.get('description')?.dirty ||
        activityFormGroup.get('description')?.touched)
    "
  >
    <div class="mat-form-field-wrapper">
      <app-tiptap-menu-bar [editor]="editor"
        >{{
          'sign-up.form.labels.ACTIVITY.description' | translate
        }}
        *</app-tiptap-menu-bar
      >
      <tiptap-editor
        [editor]="editor"
        formControlName="description"
      ></tiptap-editor>
      <div class="char-count">
        <app-char-count
          [count]="currentChars()"
          [total]="1000"
        ></app-char-count>
      </div>
      <div class="mat-form-field-subscript-wrapper">
        <mat-error>
          <app-form-field-error
            [field]="activityFormGroup.get('description')"
          ></app-form-field-error>
        </mat-error>
      </div>
    </div>
  </div>

  <div class="two-cols">
    <mat-form-field>
      <mat-label>
        {{ 'sign-up.form.labels.ACTIVITY.period' | translate }}</mat-label
      >
      <mat-date-range-input [rangePicker]="picker">
        <input
          matStartDate
          [placeholder]="'sign-up.form.labels.ACTIVITY.start' | translate"
          formControlName="start"
        />
        <input
          matEndDate
          [placeholder]="'sign-up.form.labels.ACTIVITY.end' | translate"
          formControlName="end"
        />
      </mat-date-range-input>
      <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-checkbox matInput formControlName="permanent">
      <span>
        {{ 'sign-up.form.labels.ACTIVITY.permanet' | translate }}
      </span>
    </mat-checkbox>
  </div>

  <mat-date-range-picker #picker></mat-date-range-picker>

  <div
    class="file-uploads"
    *ngIf="activity && activity.randomUniqueId && isActiveStep"
  >
    <app-upload-image
      [orgId]="orgId"
      [activityWipId]="activity.randomUniqueId"
      [type]="'logo'"
      [labelTranslationKey]="'sign-up.form.labels.ACTIVITY.logo'"
      [disabled]="activityFormGroup.disabled"
      [fileId]="activity.logo"
      style="max-width: 21.5%; min-width: 200px"
      imageSizeTranslationKey="sign-up.upload.logoWidthTooltipExt"
      (delete)="deleteHandler(imageTypes.LOGO)"
    ></app-upload-image>

    <app-upload-image
      [orgId]="orgId"
      [activityWipId]="activity.randomUniqueId"
      [type]="'image'"
      [labelTranslationKey]="'sign-up.form.labels.ACTIVITY.image'"
      [disabled]="activityFormGroup.disabled"
      [fileId]="activity.image"
      imageSizeTranslationKey="sign-up.upload.titleImageWidthTooltipExt"
      (delete)="deleteHandler(imageTypes.TITLE)"
    ></app-upload-image>
  </div>
</form>
