<div
    class="map-layout"
    [ngClass]="{
    'map-open': (showFullMap$ | async),
    'details-open': hasDetail()
  }">
    <div class="content">
        <section class="map-wrapper">
            <div class="details" [ngClass]="{ clickable: hasDetail() }" *ngIf="hasDetail()">
                <div class="outlet">
                    <ng-content select="[detailsDesktop]"></ng-content>
                </div>
            </div>

            <ng-content select="[map]"></ng-content>
        </section>
    </div>
</div>
