@use 'theme' as *;
@use 'palette' as *;

.header {
  height: 21.6rem;
  width: 100%;
  position: relative;
  z-index: $z1;

  .expiredBadge {
    z-index: $z5;
    position: absolute;
    left: $spacing-1;
    bottom: -2.2rem;
  }

  .expired {
    pointer-events: none;
    z-index: $z3;
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.7);
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .type {
    position: absolute;
    left: $spacing-8;
    bottom: 0;
    z-index: $z4;
    transform: translateY(50%);
  }
}
