<mat-stepper
  [linear]="true"
  #stepper
  color="accent"
  [orientation]="(stepperOrientation | async)!"
  [disableRipple]="true"
>
  <mat-step
    [stepControl]="formStepOne!"
    [label]="'labels.wizard.masterData' | translate"
    [editable]="isEditable"
  >
    <app-wizard-sidebar-layout>
      <div step class="form-container">
        <app-form-step-description
          [content]="activityContent$ | async"
          [stepDescriptionId]="0"
        ></app-form-step-description>

        <app-activity-form
          #stepOne
          [activity]="activityData$ | async"
          [orgId]="orgId"
          [enableAutosave]="enableAutosave"
          [isEditAllowed]="isAllowedToEdit()"
          (saveData)="saveActivity($event, 'ACTIVITY')"
          [isActiveStep]="isActiveStep(0)"
          (deleteImage)="deleteHandler($event)"
        ></app-activity-form>
        <app-form-step-actions
          [showPrevBtn]="false"
          [formStepKey]="'ACTIVITY'"
          [stepState$]="activityStepState$"
        >
        </app-form-step-actions>
      </div>
      <app-form-advatages
        sidebar
        [content]="activityContent$ | async"
      ></app-form-advatages>
    </app-wizard-sidebar-layout>
  </mat-step>

  <mat-step
    [stepControl]="formStepTwo!"
    [label]="'labels.wizard.topics' | translate"
    [editable]="isEditable"
  >
    <app-wizard-sidebar-layout>
      <div step class="form-container">
        <app-form-step-description
          [content]="activityContent$ | async"
          [stepDescriptionId]="1"
        ></app-form-step-description>

        <app-topics-form
          #stepTwo
          [data]="activityData$ | async"
          [enableAutosave]="enableAutosave"
          [isEditAllowed]="isAllowedToEdit()"
          (saveData)="saveActivity($event, 'topics')"
          [isLocationRequired]="false"
          [isAddressNameVisible]="true"
          [isActiveStep]="isActiveStep(1)"
        ></app-topics-form>
        <app-form-step-actions
          [formStepKey]="'topics'"
          [stepState$]="activityStepState$"
        >
        </app-form-step-actions>
      </div>
      <app-form-advatages
        sidebar
        [content]="activityContent$ | async"
      ></app-form-advatages>
    </app-wizard-sidebar-layout>
  </mat-step>

  <mat-step
    [stepControl]="formStepThree!"
    [label]="'labels.wizard.externalLinks' | translate"
    [editable]="isEditable"
  >
    <app-wizard-sidebar-layout>
      <div step class="form-container">
        <app-form-step-description
          [content]="activityContent$ | async"
          [stepDescriptionId]="2"
        ></app-form-step-description>

        <app-external-links-form
          #stepThree
          [data]="activityData$ | async"
          [enableAutosave]="enableAutosave"
          [isEditAllowed]="isAllowedToEdit()"
          (saveData)="saveActivity($event, 'externalLinks')"
          [isActiveStep]="isActiveStep(2)"
        ></app-external-links-form>
        <app-form-step-actions
          [formStepKey]="'externalLinks'"
          [stepState$]="activityStepState$"
        >
        </app-form-step-actions>
      </div>
      <app-form-advatages
        sidebar
        [content]="activityContent$ | async"
      ></app-form-advatages>
    </app-wizard-sidebar-layout>
  </mat-step>

  <mat-step
    [stepControl]="formStepFour!"
    [label]="'labels.wizard.contact' | translate"
    [editable]="isEditable"
  >
    <app-wizard-sidebar-layout>
      <div step class="form-container">
        <app-form-step-description
          [content]="activityContent$ | async"
          [stepDescriptionId]="3"
        ></app-form-step-description>

        <app-user-form
          #stepFour
          [data]="activityData$ | async"
          [orgId]="orgId"
          [enableAutosave]="enableAutosave"
          [isEditAllowed]="isAllowedToEdit()"
          (saveData)="saveActivity($event, 'user')"
          [isActiveStep]="isActiveStep(3)"
          (deleteImage)="deleteHandler($event)"
        ></app-user-form>
        <app-form-step-actions
          [formStepKey]="'user'"
          [nextBtnCallback]="submit"
          [stepState$]="activityStepState$"
          [last]="true"
          [type]="'activity'"
          [modification]="isModification"
          (canceled)="backToActivitiesHandler()"
        >
        </app-form-step-actions>
      </div>
      <app-form-advatages
        sidebar
        [content]="activityContent$ | async"
      ></app-form-advatages>
    </app-wizard-sidebar-layout>
  </mat-step>

  <mat-step class="final-step">
    <app-wizard-sidebar-layout>
      <div class="final-step-content" step>
        <ng-container *ngIf="loading$ | async" size="xl">
          <app-spinner></app-spinner>
        </ng-container>
        <ng-container
          *ngIf="isSubmissionSuccess && (loading$ | async) === false"
          size="xl"
        >
          <div class="final-step-content-wrapper">
            <app-html-wrapper
              [html]="(activityContent$ | async)?.completedMessage || ''"
            ></app-html-wrapper>

            <div class="actions">
              <a mat-flat-button color="accent" [href]="shareLink()">
                {{ 'btn.share' | translate }}
              </a>
              <a
                mat-flat-button
                color="accent"
                [routerLink]="['/', 'account', 'activities']"
                [queryParams]="{ update: 'success' }"
              >
                {{ 'btn.backToActivityOverview' | translate }}
              </a>
            </div>
          </div>
        </ng-container>
        <ng-container
          *ngIf="!isSubmissionSuccess && (loading$ | async) === false"
          size="xl"
        >
          <div class="final-step-content-wrapper">
            <p>
              {{ 'error.unknown' | translate }}
            </p>
            <button mat-flat-button color="accent" matStepperPrevious>
              {{ 'btn.back' | translate }}
            </button>
          </div>
        </ng-container>
      </div>
    </app-wizard-sidebar-layout>
  </mat-step>
  <!-- Icon overrides. -->
  <ng-template matStepperIcon="edit">
    <mat-icon>arrow_forward_alt</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="number">
    <mat-icon>arrow_forward_alt</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="done">
    <mat-icon>check</mat-icon>
  </ng-template>
</mat-stepper>
