@use 'sass:map';
@use 'map' as *;
@use 'wysiwyg' as *;
@use 'dropzone' as *;
@use 'links' as *;
@use 'feedback' as *;
@use 'inputs' as *;
@use 'swiper/scss';
@use 'swiper/scss/navigation';
@use 'swiper/scss/pagination';
@use 'slider' as *;
@use 'wizard' as *;

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Plus imports for other components in your app.

@use 'assets/styles/palette' as *;
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
//@include mat.core();

@font-face {
  font-family: 'AzeretMono';
  src: url('assets/fonts/AzeretMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'AzeretMono';
  src: url('assets/fonts/AzeretMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'AzeretMono';
  src: url('assets/fonts/AzeretMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'AzeretMono';
  src: url('assets/fonts/AzeretMono-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'AzeretMono';
  src: url('assets/fonts/AzeretMono-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}
@font-face {
  font-family: 'AzeretMono';
  src: url('assets/fonts/AzeretMono-Black.ttf') format('truetype');
  font-weight: 900;
}

$wpgwn-app-typography: mat.define-typography-config(
  $font-family: 'AzeretMono',

  $body-1:
    mat.define-typography-level(
      $font-family: Verdana,
      $font-size: 1.4rem,
      $line-height: 24px
    ),
  $body-2:
    mat.define-typography-level(
      $font-family: Verdana,
      $font-size: 1.4rem,
      $line-height: 24px
    ),
  $button:
    mat.define-typography-level(
      $font-size: 1.4rem,
      $line-height: 1.4rem
    ),
  $headline-1:
    mat.define-typography-level(
      $font-size: 3.2rem,
      $line-height: 150%,
      $font-weight: 900
    ),
  $headline-2:
    mat.define-typography-level(
      $font-size: 2.4rem,
      $line-height: 150%,
      $font-weight: 900
    ),
  $subtitle-1:
    mat.define-typography-level(
      $font-size: 1.6rem,
      $line-height: 150%,
      $font-weight: 900
    )
);

@include mat.core();

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$wpgwn-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $wpgwn-app-primary,
      accent: $wpgwn-app-accent,
      warn: $wpgwn-app-warn
    ),
    typographies: $wpgwn-app-typography
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($wpgwn-app-theme);
@include mat.typography-hierarchy($wpgwn-app-typography);
/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: $blue-navy;
  font-family: 'Verdana', sans-serif;
  --mat-tree-node-text-color: #{$blue-navy};
  --mat-sidenav-content-text-color: #{$blue-navy};
  --mdc-outlined-text-field-label-text-color: #{$blue-navy};
  --mdc-outlined-text-field-input-text-color: #{$blue-navy};
  --mdc-theme-text-primary-on-background: #{$blue-navy};
}
body {
  margin: 0;
  color: mat.get-color-from-palette($wpgwn-app-primary, 500);
  background-color: $background;
  //font-family: mat.font-family($wpgwn-app-typography);/*font-family: Roboto, "Helvetica Neue", sans-serif;*/
}
html {
  font-size: 62.5%; //.1rem === 1px and 1rem === 10px
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'AzeretMono', monospace;
}

.font-2 {
  font-family: 'AzeretMono', monospace;
}

/**
  Material Overrides
**/
[class^='mat-mdc-'] {
  border-radius: 0 !important;
}
.mdc-notched-outline__leading,
.mdc-notched-outline__trailing,
.mdc-notched-outline__notch,
.mat-mdc-unelevated-button,
.mat-button,
.mdc-button--outlined,
.mat-icon-button,
.mat-flat-button {
  border-radius: 0 !important;
}
.mat-mdc-form-field:not(.mat-form-field-invalid):not(.mat-form-field-disabled) {
  .mdc-notched-outline__leading,
  .mdc-notched-outline__trailing,
  .mdc-notched-outline__notch {
    border-radius: 0 !important;
    border-color: mat.get-color-from-palette($wpgwn-app-primary, 500);
  }
}
.no-sub .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
.mat-accordion .mat-expansion-panel:last-of-type,
.mat-accordion .mat-expansion-panel:first-of-type {
  border-radius: 0 !important;
}

.mat-mdc-button.mat-unthemed {
  --mdc-text-button-label-text-color: #{$blue-navy};
}
.mat-button-base,
button.mat-mdc-unelevated-button:not(:disabled):not(.mat-accent),
.mat-paginator,
.mat-mdc-select-value,
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input,
.mat-option-text,
.mat-select-value-text,
.mat-menu-item,
.mat-menu-item[disabled],
.mat-mdc-paginator,
.mat-menu-item .mat-icon-no-color,
.mat-menu-item[disabled] .mat-icon-no-color,
.mat-mdc-radio-button .mdc-form-field,
.label {
  color: $blue-navy;

  &.mat-accent {
    color: mat.get-color-from-palette($wpgwn-app-accent, 500);
  }
}

.mdc-button {
  text-decoration: none;
}

.mat-icon-button,
.mdc-button--outlined {
  background-color: white;
}

.mat-mdc-paginator {
  background-color: white;
  padding-block: 1rem;
}
.mat-mdc-paginator > * {
  color: $blue-navy !important;
  .mdc-notched-outline__leading,
  .mdc-notched-outline__trailing,
  .mdc-notched-outline__notch {
    border-color: white !important;
  }
}
.mat-paginator .mat-icon-button {
  background: transparent;
}
div.mat-paginator-page-size {
  display: flex;
  align-items: center;
  gap: 1rem;

  .mat-paginator-page-size-select {
    margin: 0;
  }
}

.mat-option {
  background-color: white;
}

.mat-mdc-form-field,
.mat-mdc-select,
.mat-mdc-textarea {
  font-family: 'Verdana', sans-serif;
}
.mat-mdc-slide-toggle-thumb {
  background-color: #c0c0c0;
}
.mat-drawer-container {
  color: $blue-navy;
  background-color: white !important;
}
.mdc-button--unelevated {
  color: $blue-navy;
}
.mdc-button--unelevated,
.mdc-button--outlined {
  text-transform: uppercase;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: mat.get-color-from-palette($wpgwn-app-primary, 500);
  background: white;

  &.mat-accent {
    color: mat.get-color-from-palette($wpgwn-app-accent, 500);
    .mat-form-field-outline-start,
    .mat-form-field-outline-gap,
    .mat-form-field-outline-end {
      color: mat.get-color-from-palette($wpgwn-app-accent, 500);
    }
  }
}
.mat-form-field-appearance-outline.mat-accent .mat-form-field-outline {
  color: mat.get-color-from-palette($wpgwn-app-primary, 500);

  color: mat.get-color-from-palette($wpgwn-app-accent, 500);
  .mat-form-field-outline-start,
  .mat-form-field-outline-gap,
  .mat-form-field-outline-end {
    color: mat.get-color-from-palette($wpgwn-app-accent, 500);
    background: white;
  }
}
mat-form-field {
  width: 100%;
  max-width: 98vw;
  background-color: white;
  .mat-form-field-infix {
    width: auto !important;
  }
}
.mat-radio-label-content {
  font-family: 'Verdana', sans-serif;
}
.mat-primary {
  .mat-form-field-label {
    color: $blue-navy;
  }
  .mat-checkbox-frame {
    border-color: $blue-navy;
  }
}
.mat-accent {
  .mat-form-field-label {
    color: $magenta;
  }
  .mat-checkbox-frame {
    border-color: $magenta;
  }
}
.mat-drawer-container {
  background-color: white;
}
.mat-drawer-content {
  scroll-padding-top: 202px;
}
.mat-dialog-container,
.mat-expansion-panel {
  color: $blue-navy;
}
mat-dialog-container.mat-dialog-container {
  padding-top: 0;
}
.map-filters {
  .mat-mdc-form-field {
    padding: 0;

    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
  .view-type {
    .orga {
      &.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-primary
        .mat-ripple-element {
        background: $orange;
      }
      &.mat-checkbox-checked.mat-primary .mat-checkbox-background {
        background: $orange;
      }
    }
    .activity {
      &.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-primary
        .mat-ripple-element {
        background: $green;
      }
      &.mat-checkbox-checked.mat-primary .mat-checkbox-background {
        background: $green;
      }
    }
    .dan {
      &.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-primary
        .mat-ripple-element {
        background: $dan-blue;
      }
      &.mat-checkbox-checked.mat-primary .mat-checkbox-background {
        background: $dan-blue;
      }
    }
  }
}

.dan-help-modal {
  .entry {
    .text {
      p {
        margin: 0;
      }
    }
  }
}

.search-header {
  .text {
    p {
      margin: 0;
    }
  }
}

.mat-menu-item[disabled] {
  opacity: 0.5;
}

/**
  Angular material uses align-items: baseline for input elements.
  Hence the suffix is not positioned centered to the input box.
  If this is a bug, this override can be deleted after an appropriate bugfix.
*/
.mat-form-field-flex {
  align-items: center !important;
}

/* 
  Material Icons 
*/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}

@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2')
    format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
