@use 'theme' as *;
@use 'palette' as *;

.menu {
  padding: 0;
  padding-right: $spacing-6;
  display: flex;

  .right-menu {
    margin-left: auto;
    width: 100%;

    .user-content,
    .search-content {
      display: flex;
      align-items: center;
      width: 100%;
      .icon {
        display: flex;
        align-items: center;
        margin-right: $spacing-2;
      }
    }
  }

  &.vertical {
    flex-direction: column;
    margin-bottom: auto;
    .user {
      margin-left: 0;
    }
  }

  .dropdown-wrapper {
    display: none;
  }
}

@media screen and (min-width: $breakpoint-mobile-menu) {
  :host {
    flex-grow: 1;
  }
  .menu {
    padding: 0 $spacing-16;
    padding-right: $spacing-6;
    gap: $spacing-8;
    .right-menu {
      display: flex;
      align-items: center;
      gap: $spacing-2;
      width: auto;
      .search-entry {
        order: -1;

        .search-content {
          .icon {
            margin-left: $spacing-2;
          }
          .text {
            display: none;
          }
        }
      }
    }
    .dropdown-wrapper {
      display: block;
    }
    .mobile-dropdown-wrapper {
      display: none;
    }
  }
}
