<div class="close-button">
  <button mat-icon-button (click)="close()">
    <mat-icon>clear</mat-icon>
  </button>
</div>
<div class="wrapper" [ngClass]="{ mobile: mobile }">
  <div class="details mat-elevation-z8">
    <app-spinner forId="detail-popup-data"></app-spinner>
    <ng-container *ngIf="currentResult">
      <header class="header">
        <div class="expiredBadge" *ngIf="showAsExpired(currentResult)">
          <app-expired-badge
            [dan]="
              card.isActivity(currentResult.resultType) &&
              utils.asActivity(currentResult).activityType === 'DAN'
            "
          ></app-expired-badge>
        </div>
        <div class="expiredOverlay" *ngIf="showAsExpired(currentResult)"></div>

        <app-details-link [currentResult]="currentResult">
          <app-image [src]="bgImage" alt="header" *ngIf="bgImage" />
        </app-details-link>
        <div class="type" [ngClass]="{ noLogo: !currentResult.logo }">
          <div
            class="expiredOverlay"
            *ngIf="showAsExpired(currentResult)"
          ></div>

          <app-card-label
            [type]="currentResult.resultType"
            [dan]="currentResult.resultType === 'DAN'"
            [activityTypeLabel]="'activityType.DAN' | translate"
            [organisationTypeLabel]="
              'organisationType.' + currentResult.organisationType | translate
            "
          ></app-card-label>
        </div>
        <div
          *ngIf="currentResult.logo"
          class="logo"
          [class]="currentResult.resultType || ''"
        >
          <div
            class="expiredOverlay logoOverlay"
            *ngIf="showAsExpired(currentResult)"
          ></div>
          <app-details-link [currentResult]="currentResult">
            <app-card-logo
              [logoUrl]="currentResult.logo"
              [name]="currentResult.name"
            ></app-card-logo>
          </app-details-link>
        </div>
      </header>
      <main class="body">
        <div class="deco"></div>
        <app-details-link [currentResult]="currentResult">
          <div class="title-and-desc">
            <h3 class="title">{{ currentResult.name }}</h3>
            <p class="desc">{{ utils.excerpt(currentResult.description) }}</p>
            <div class="badge" *ngIf="card.isOrga(currentResult.resultType)">
              <app-initiator-badge
                *ngIf="utils.asOrga(currentResult)?.initiator"
              ></app-initiator-badge
              ><app-project-sustainability-winner-badge
                *ngIf="utils.asOrga(currentResult)?.projectSustainabilityWinner"
              ></app-project-sustainability-winner-badge>
            </div>
          </div>
        </app-details-link>
        <div class="group">
          <h4 class="subtitle">{{ 'map.labels.info' | translate }}</h4>
          <ng-container
            *ngIf="
              currentResult.resultType === 'DAN' &&
              utils.dateRangeString(currentResult.period)
            "
          >
            <app-content-row
              [small]="true"
              [noDecorator]="true"
              icon="calendar_today"
              [content]="utils.dateRangeString(currentResult.period)"
            ></app-content-row>
          </ng-container>
          <app-content-row
            [small]="true"
            [noDecorator]="true"
            [content]="utils.locationString(currentResult.location)"
          ></app-content-row>
          <app-content-row
            [small]="true"
            [noDecorator]="true"
            icon="location_searching"
            [content]="
              currentResult.impactArea
                ? ('impactArea.' + currentResult.impactArea | translate)
                : ''
            "
          ></app-content-row>
        </div>

        <div class="group">
          <h4 class="subtitle">{{ 'map.labels.sdgs' | translate }}</h4>
          <div class="sdgs" #sdgs>
            <ng-container
              *ngFor="
                let sdg of utils.limitedSdgs(
                  currentResult?.sustainableDevelopmentGoals
                )
              "
            >
              <div class="sdg"><app-sdg-icon [goal]="sdg"></app-sdg-icon></div>
            </ng-container>
          </div>
          <div
            class="sdgs remaining-sdgs"
            [@openClose]="remainingSdgsVisible ? 'open' : 'closed'"
          >
            <ng-container
              *ngFor="
                let sdg of utils.remainingSdgs(
                  currentResult?.sustainableDevelopmentGoals
                )
              "
            >
              <div class="sdg"><app-sdg-icon [goal]="sdg"></app-sdg-icon></div>
            </ng-container>
          </div>

          <button
            *ngIf="
              utils.remainingSdgs(currentResult?.sustainableDevelopmentGoals)
                .length
            "
            mat-button
            (click)="toggleRemainingSdgs()"
          >
            <div class="sdg-expand-button">
              <div *ngIf="!remainingSdgsVisible">
                {{ 'map.buttons.showMore' | translate }}
              </div>
              <div *ngIf="remainingSdgsVisible">
                {{ 'map.buttons.showLess' | translate }}
              </div>
              <div class="icon" [ngClass]="{ open: remainingSdgsVisible }">
                <mat-icon>expand_more</mat-icon>
              </div>
            </div>
          </button>
        </div>
        <div class="group">
          <h5 class="subtitle">{{ 'map.labels.thematicFocus' | translate }}</h5>
          <div class="thematicFocus">
            <ng-container *ngFor="let topic of currentResult?.thematicFocus">
              <app-topic>{{ 'thematicFocus.' + topic | translate }}</app-topic>
            </ng-container>
          </div>
        </div>
        <div
          class="group"
          *ngIf="
            currentResult.resultType === 'DAN' &&
            currentResult.organisation?.name
          "
        >
          <h5 class="subtitle">
            {{ 'map.labels.relatedOrganisation' | translate }}
          </h5>
          <p>{{ currentResult.organisation?.name }}</p>
        </div>
      </main>
    </ng-container>
  </div>
  <footer class="footer">
    <div class="info-btn">
      <app-details-link [currentResult]="currentResult">
        <button mat-flat-button color="accent">
          {{ 'map.buttons.allInformation' | translate }}
        </button>
      </app-details-link>
    </div>

    <app-organisation-subscription-action
      *ngIf="card.isOrga(currentResult?.resultType)"
      [short]="true"
      [stroked]="true"
      [organisation]="utils.asOrga(currentResult)"
    >
    </app-organisation-subscription-action>
    <app-activity-subscription-action
      *ngIf="currentResult?.resultType === 'DAN'"
      [short]="true"
      [stroked]="true"
      [activity]="utils.asActivity(currentResult)"
    >
    </app-activity-subscription-action>
  </footer>
</div>
