<div class="card-wrapper mat-elevation-z8">
  <div class="featured" *ngIf="featuredText">
    <div class="new">{{ 'labels.new' | translate }}</div>
    {{ featuredText }}
  </div>
  <div
    class="card"
    [ngClass]="{
      notClickable: !clickable,
      draft: draft
    }"
  >
    <div class="clickable-area" (click)="cardClickHandler()"></div>
    <div class="top-right">
      <div class="category">
        <app-label [color]="typeColor(type)" *ngIf="type && category">
          {{ category | translate }}
        </app-label>
      </div>
      <div class="actions" *ngIf="showActions">
        <app-action
          [onlyIcon]="true"
          [icon]="'edit'"
          (clicked)="editHandler()"
        ></app-action>
        <app-action
          [onlyIcon]="true"
          [icon]="'delete'"
          (clicked)="deleteHandler()"
        ></app-action>
        <ng-content select="[actionMenu]"></ng-content>
      </div>
    </div>
    <div class="image-column">
      <div
        *ngIf="featured"
        class="featured-icon"
        [matTooltip]="'marketplace.labels.featured' | translate"
      >
        <app-outlined-icon>star</app-outlined-icon>
      </div>
      <img [src]="imgService.url(imageId)" alt="Offer image" *ngIf="imageId" />
    </div>

    <div class="content-column">
      <div class="top">
        <h3 class="title">{{ title }}</h3>
        <div class="infos">
          <div class="description">
            <p class="description-text">{{ utils.excerpt(content) }}</p>
          </div>
          <div class="details">
            <div class="details-entries" *ngIf="location">
              <app-content-row
                *ngIf="hasAddress(location)"
                [small]="true"
                [content]="utils.locationString(location)"
              ></app-content-row>
              <app-content-row
                *ngIf="location.online"
                [small]="true"
                [content]="'forms.labels.online' | translate"
              ></app-content-row>
            </div>
          </div>
        </div>
      </div>
      <div class="thematicFocuses" *ngIf="thematicFocus?.length">
        {{ getFormattedThematicFocus() }}
      </div>
    </div>
  </div>
</div>
