@use 'theme' as *;
@use 'palette' as *;
:host {
  //background-color: orange;
}

.form-feedback {
  padding: 2em;
  display: flex;
  align-items: center;
  color: white;
  background-color: $blue-navy;
  app-outlined-icon {
    margin-right: 2em;
  }
}
