<ng-container *ngIf="(activity$ | async) === null">
  <app-spinner></app-spinner>
</ng-container>
<ng-container *ngIf="activity$ | async as activity">
  <app-profile-layout>
    <div id="about-activity" breadcrumbs>
      <app-breadcrumbs>
        <app-breadcrumb
          [route]="['/']"
          [name]="'menu.search' | translate"
        ></app-breadcrumb>
        <app-breadcrumb
          [route]="['/', 'organisations', activity?.organisation?.id!]"
          [name]="activity?.organisation?.name"
        ></app-breadcrumb>
        <app-breadcrumb
          [isLast]="true"
          [name]="activity?.name"
        ></app-breadcrumb>
      </app-breadcrumbs>
    </div>

    <div hero>
      <app-hero
        [logo]="activity.logo"
        [dan]="activity.activityType === 'DAN'"
        [types]="{
          resultType: 'ACTIVITY'
        }"
        [bgImageName]="activity.image || activity.organisation?.image"
        [imageMode]="activity.bannerImageMode"
        [name]="activity.name"
        [period]="activity.period"
        [isExpired]="isExpired(activity)"
      ></app-hero>
    </div>
    <div nav>
      <app-page-menu>
        <a
          *appMenuItem
          routerLink="./"
          fragment="about-activity"
          appMenuItemActive="about-activity"
          >{{ 'profile.nav.aboutActivity' | translate }}</a
        >
        <a
          *appMenuItem
          routerLink="./"
          fragment="sdgs"
          appMenuItemActive="sdgs"
          >{{ 'profile.nav.sdgs' | translate }}</a
        >
      </app-page-menu>
    </div>
    <main content1 class="main-content">
      <section class="article-wrapper">
        <div class="top-actions">
          <a [href]="shareLink(activity)">
            <app-action [clickable]="false" icon="share">{{
              'btn.share' | translate
            }}</app-action>
          </a>

          <div>
            <app-activity-subscription-action
              [short]="true"
              [activity]="activity"
            >
            </app-activity-subscription-action>
          </div>
        </div>
        <app-section
          [title]="activity.name"
          [subtitle]="'profile.titles.aboutActivity' | translate"
          [info]="'activityType.' + activity.activityType | translate"
          [infoType]="'ACTIVITY'"
        >
          <app-event-badges badge [activity]="activity"></app-event-badges>

          <app-html-wrapper
            [html]="activity.description || ''"
          ></app-html-wrapper>
          <a
            *ngIf="activity.registerUrl"
            [href]="activity.registerUrl"
            target="_blank"
            rel="noopener noreferrer"
            mat-flat-button
            color="accent"
            class="register-button"
          >
            <div class="register-button-content">
              <div>{{ 'btn.registerUrlButton' | translate }}</div>
              <mat-icon>launch</mat-icon>
            </div>
          </a>
        </app-section>
      </section>
      <section
        class="article-wrapper"
        id="sdgs"
        *ngIf="activity.sustainableDevelopmentGoals"
      >
        <app-section
          [title]="'profile.titles.sdgsTagline' | translate"
          [subtitle]="'profile.titles.sdgs' | translate"
        >
          <div class="sdgs" #sdgs>
            <ng-container
              *ngFor="let sdg of activity.sustainableDevelopmentGoals"
            >
              <div class="sdg"><app-sdg-icon [goal]="sdg"></app-sdg-icon></div>
            </ng-container>
          </div>
        </app-section>
      </section>
    </main>

    <div contact>
      <app-contact
        [type]="'ACTIVITY'"
        [dan]="activity.activityType === 'DAN'"
        [activityOrga]="activity.organisation?.name"
        [orgaId]="activity.organisation?.id"
        [name]="
          activity?.location?.address?.name || activity.organisation?.name
        "
        [impactArea]="activity.impactArea"
        [contact]="activity.contact"
        [location]="activity.location"
        [socialMedia]="activity.socialMediaContacts"
        [thematicFocus]="activity.thematicFocus"
      ></app-contact>
    </div>
  </app-profile-layout>
</ng-container>
