<ng-container *ngIf="orgaSubscriptions$ | async as orgas">
  <ng-container *ngIf="orgas">
    <app-page-with-header-layout
      [title]="'account.titles.orgaSubs' | translate"
      [noEntriesTitle]="'account.titles.noOrgaSubs' | translate"
      [showNoEntriesWarning]="(loading$ | async) !== true && !orgas.length"
    >
      <ng-container headerContent>{{
        'account.texts.orgaSubs' | translate
      }}</ng-container>
      <ng-container noEntriesContent>{{
        'account.texts.noOrgaSubs' | translate
      }}</ng-container>
      <app-spinner></app-spinner>
      <app-card-list *ngIf="(loading$ | async) !== true">
        <ng-container *ngFor="let orga of orgas">
          <app-base-card
            [entity]="orga"
            type="organisation"
            [followed]="true"
            (cardClicked)="openOrga(orga)"
          >
          </app-base-card>
        </ng-container>
      </app-card-list>
    </app-page-with-header-layout>
  </ng-container>
</ng-container>
