@use 'theme' as *;
@use 'palette' as *;

.layout {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  margin-top: $top-nav-height;

  .sidebar {
    display: none;
  }

  .search-results {
    .search {
      margin-bottom: $spacing-8;
      .calendar {
        max-width: 40rem;
      }
      .filter-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 6rem;
      }
      .search-bar {
        height: 6rem;
        background-color: $gray-light;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: $spacing-4;
        padding: $spacing-4;

        .total-wrapper {
          display: none;
        }

        .search-input-wrapper {
          display: flex;
          flex-grow: 1;
          max-width: 100%;
        }
      }
    }
  }
  .slider {
    display: block;
    width: 100%;
    margin: $spacing-8 0;
  }
}

@media screen and (min-width: $breakpoint-mobile-menu) {
  .layout {
    margin-top: 0;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .layout {
    grid-template-columns: 340px minmax(0, 1fr);
    gap: $spacing-8;

    .sidebar {
      display: grid;
      gap: $spacing-4;
      grid-auto-rows: min-content;
    }

    .search-results {
      .search {
        .calendar {
          display: none;
        }
        .search-bar {
          .total-wrapper {
            display: block;
          }
          .search-input-wrapper {
            max-width: 50rem;
          }
        }
        .filter-bar {
          display: none;
        }
      }
    }
  }
}
